<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Hospital Control</span>
    </a>
    <a>
      <% if current_client.present? %>
        <%= button_to('Log Out', destroy_client_session_path, method: :delete) %>
      <% elsif current_doctor.present? %>
        <%= button_to('Log Out', destroy_doctor_session_path, method: :delete) %>
      <% else %>
        <%= button_to 'Home', destroy_client_session_path, method: :delete %>
      <% end %>
    </a>
  </header>
</div>
